body {
  display: flex;
  flex-direction: row;
}

.order-list {
  width: 50%;
  padding: 10px;
}

.preview-container {
  width: 50%;
  padding: 10px;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  height: 100vh;
}

.barcode {
  padding-top: 1mm;
}

.page {
  position: relative;
  width: 148mm;
  height: 210mm;
  padding: 5mm !important;
  margin-bottom: 20px;
  border: 1px solid #000;
  /* background: url("img/warranty_general.jpg") no-repeat center center; */
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  .page {
    width: auto;
    height: auto;
    margin-top: 3px;
    border: none;
    page-break-after: always;
  }

  .print-button,
  .order-list {
    display: none;
  }
}

.barcode {
  padding-left: 25mm;
  /* text-align: center; */
}

/* table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
} */

/* .footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20mm);
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #000;
} */

.p1 {
  margin-top: 5mm;
  margin-left: 30mm;
  font-size: 16px;
}

.p2 {
  margin-top: -20px;
  margin-left: 10mm;
  font-size: 10px;
}

.p3 {
  margin-top: 30mm;
  margin-left: 30mm;
  font-size: 16px;
}

.p4 {
  margin-top: 30mm;
  margin-left: 30mm;
  font-size: 10px;
}

.p5 {
  margin-top: -5mm;
  margin-left: 110mm;
  font-size: 10px;
}

.print-button {
  margin-left: 20px;
}

.pb1 {
  margin-top: 0px;
  margin-left: 25mm;
  font-size: 16px;
}

.barcode2 {
  margin-left: 25mm;
  margin-top: 12mm;
}

.pb2 {
  margin-top: 0mm;
  margin-left: 27mm;
}

.p6 {
  margin-top: -8mm;
  margin-left: 10mm;
  font-size: 12px;
}

.p7 {
  margin-top: 0mm;
  margin-left: 30mm;
  font-size: 16px;
}

.p8 {
  margin-top: -3mm;
  margin-left: 30mm;
  font-size: 16px;
}

.p9 {
  margin-top: -20mm;
  margin-left: 110mm;
  font-size: 10px;
}

.p10 {
  margin-top: 25mm;
  margin-left: 110mm;
  font-size: 10px;
}